/*
  https://marketplace.visualstudio.com/items?itemName=be5invis.vscode-custom-css
*/

:root {
  --tab-height: 26px;
}

.loopText tspan {
  fill: white;
  background: white;
}

/* removes underscore style on links */
.mtku,
.detected-link {
  text-decoration: none !important;
}

/* suggest window fixes (can't be resized) + */

/* <parameter hints (ctrl+shift+space)> widgetid="editor.widget.parameterHintsWidget"  */
/* they still can't be resized and works bad with bigger font size, let's fix width at least */
.monaco-editor .parameter-hints-widget>.phwrapper {
  max-width: 60vw !important;

}
/* </parameter hints> */

/* border radius of hints */
.monaco-editor .monaco-hover,
.monaco-editor .parameter-hints-widget,
.monaco-editor .suggest-details,
.monaco-editor .suggest-widget {
  border-radius: 6px;
}