/*
  https://marketplace.visualstudio.com/items?itemName=be5invis.vscode-custom-css
  https://marketplace.visualstudio.com/items?itemName=lehni.vscode-fix-checksums
*/

.loopText tspan {
  fill: white;
  background: white;
}

/* removes underscore style on links */

.mtku, .detected-link {
  text-decoration: none !important;
}

/* sets better width of debugger hover widget */

.monaco-editor .debug-hover-widget .complex-value {
  width: 100% !important;
  min-width: 648px !important;
  width: 60vw !important;
  resize: both !important;
}

/* 
  intellisense width fix
  based on:
  https://stackoverflow.com/posts/62963539/edit
  https://github.com/microsoft/vscode/issues/29126
 */

.editor-widget.suggest-widget.visible {
  width: 800px !important;
}

.editor-widget.suggest-widget.visible.docs-side {
  display: flex;
  flex-direction: column;
}

.monaco-editor .suggest-widget.docs-side>.details {
  max-height: 30vh !important;
  height: 180px !important;
}

.monaco-editor .suggest-widget.docs-side>.details p {
  margin-top: 8px;
}

.monaco-editor .suggest-widget.docs-side>.details, .monaco-editor .suggest-widget.docs-side>.tree {
  float: none;
  width: 100%;
}

.monaco-editor .parameter-hints-widget>.wrapper {
  max-width: 60vw !important;
}

/* editor-hover */

.monaco-editor .overflowingContentWidgets .monaco-hover-content {
  max-width: 60vw !important;
  max-height: 50vh !important;
}

/* hides editor group icons. https://github.com/microsoft/vscode/issues/46403 */

a[title="Open Changes"], a[title="Git: View File History (Alt+H)"], a[title="Split Editor Right (Ctrl+\)"], a[title="Split Editor Right (Ctrl+\\)"] {
  display: none !important;
}

/* Following CSS to wrap the tab-bar into multiple rows: https://stackoverflow.com/questions/42462777/multirow-tabs-for-vscode */

.tabs-and-actions-container>.monaco-scrollable-element {
  height: auto !important;
}

.tabs-and-actions-container>.monaco-scrollable-element>.tabs-container {
  height: auto !important;
  flex-wrap: wrap;
}

/* Following CSS to make the tabs thinner/smaller (so that they take lesser vertical space): */

.monaco-workbench .part.editor>.content .editor-group-container>.title .tabs-container>.tab {
  height: 25px !important;
  padding-left: 4px !important;
  font-size: 0.9em !important;
  /* smaller font-size for tab icons and label */
}

.monaco-workbench .part.editor>.content .editor-group-container>.title .tabs-container>.tab .label-name {
  font-size: inherit !important;
  /* inherit updated font-size for label */
}

/* Following CSS for smaller close button on tabs: */

.monaco-workbench .part.editor>.content .editor-group-container>.title .tabs-container>.tab>.tab-close {
  width: 20px !important;
}

.monaco-workbench .part.editor>.content .editor-group-container>.title .tabs-container>.tab>.tab-close .action-label {
  height: 12px !important;
  width: 12px !important;
  background-size: 12px !important;
}

.monaco-workbench .part.editor>.content .editor-group-container.active>.title .tabs-container>.tab>.tab-close .action-label.codicon {
  font-size: 12px !important;
}

/* OPTIONAL: Following CSS for smaller action-bar (beside the tab-bar) with menu, split, etc. */

.monaco-workbench .part.editor>.content .editor-group-container>.title .editor-actions {
  height: 20px !important;
  padding: 2px !important;
}

.monaco-workbench .part.editor>.content .editor-group-container>.title .editor-actions .action-label, .monaco-workbench .part.editor>.content .editor-group-container>.title .title-actions .action-label {
  height: 20px !important;
  line-height: 20px !important;
  min-width: 14px !important;
}
