/*
  https://marketplace.visualstudio.com/items?itemName=be5invis.vscode-custom-css
  https://marketplace.visualstudio.com/items?itemName=lehni.vscode-fix-checksums
*/

.loopText tspan {
  fill: white;
  background: white;
}

/* removes underscore style on links */

.mtku, .detected-link {
  text-decoration: none !important;
}

/* sets better width of debugger hover widget */

/* Disabled due to https://code.visualstudio.com/updates/v1_50#_debug-hover-improvements */

.monaco-editor .debug-hover-widget .complex-value {
  min-width: 648px !important;
}

/* 
  intellisense width fix
 */

.editor-widget.suggest-widget.visible {
  width: 500px;
  min-width: 500px !important;
}

/* old, can be deleted? */

.monaco-editor .parameter-hints-widget>.wrapper,
/* new version */

.monaco-editor .parameter-hints-widget>.phwrapper {
  max-width: 60vw !important;
}

/* editor-hover */

.monaco-editor .overflowingContentWidgets .monaco-hover-content {
  max-width: 60vw !important;
  max-height: 50vh !important;
}

/* hides editor group icons. https://github.com/microsoft/vscode/issues/46403 */

a[title="Open Changes"], a[title="Git: View File History (Alt+H)"], a[title="Split Editor Right (Ctrl+\)"], a[title="Split Editor Right (Ctrl+\\)"] {
  display: none !important;
}

/* Menu size */

body>div.file-icons-enabled.monaco-workbench>div.monaco-grid-view>div>div>div.monaco-scrollable-element>div.split-view-container>div:nth-child(2) {
  top: 26px !important;
}

div.menubar, .part.titlebar {
  height: 26px !important;
  line-height: 26px;
}

.monaco-workbench .part.titlebar>.window-appicon {
  width: 26px !important;
}

.tabs-container>.tab.active {
  background-color: #26446c !important;
}

/* Following CSS to wrap the tab-bar into multiple rows: https://stackoverflow.com/questions/42462777/multirow-tabs-for-vscode */

.tabs-and-actions-container>.monaco-scrollable-element {
  height: auto !important;
}

.tabs-and-actions-container>.monaco-scrollable-element>.tabs-container {
  height: auto !important;
}

/* Following CSS to make the tabs thinner/smaller (so that they take lesser vertical space): */

.monaco-workbench .part.editor>.content .editor-group-container>.title .tabs-container>.tab {
  height: 26px !important;
  padding-left: 4px !important;
  font-size: 0.9em !important;
  /* smaller font-size for tab icons and label */
}

.monaco-workbench .part.editor>.content .editor-group-container>.title .tabs-container>.tab .label-name {
  font-size: inherit !important;
  /* inherit updated font-size fo111r label */
}

.monaco-workbench .part.editor>.content .editor-group-container>.title .tabs-container>.tab .tab-label {
  line-height: 22px;
}

.monaco-workbench .part.editor>.content .editor-group-container>.title.tabs .monaco-icon-label:after {
  line-height: 25px;
  font-size: 0.8em !important;
}

/* Following CSS for smaller close button on tabs: */

.monaco-workbench .part.editor>.content .editor-group-container>.title .tabs-container>.tab>.tab-close {
  width: 20px !important;
}

.monaco-workbench .part.editor>.content .editor-group-container>.title .tabs-container>.tab>.tab-close .action-label {
  height: 12px !important;
  width: 12px !important;
  background-size: 12px !important;
}

.monaco-workbench .part.editor>.content .editor-group-container.active>.title .tabs-container>.tab>.tab-close .action-label.codicon, .monaco-workbench .part.editor>.content .editor-group-container.active>.title .tabs-container>.tab>.tab-actions .action-label.codicon {
  font-size: 14px !important;
}

.monaco-workbench .part.editor>.content .editor-group-container>.title .monaco-icon-label:before {
  height: 26px !important;
}

/* OPTIONAL: Following CSS for smaller action-bar (beside the tab-bar) with menu, split, etc. */

.monaco-workbench .part.editor>.content .editor-group-container>.title .editor-actions {
  height: 20px !important;
  padding: 2px !important;
}

.monaco-workbench .part.editor>.content .editor-group-container>.title .editor-actions .action-label, .monaco-workbench .part.editor>.content .editor-group-container>.title .title-actions .action-label {
  height: 20px !important;
  line-height: 20px !important;
  min-width: 14px !important;
}

.tabs-breadcrumbs {
  font-size: 0.9em !important;
}